@import url('https://fonts.googleapis.com/css2?family=Qahiri&family=Roboto:wght@100;300;400&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Otomanopee+One&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap')
$font-Viga: "Viga"
$font-stack: "Otomanopee", Arial, sans-serif
$font-stack-two: "Roboto", Arial, sans-serif
@font-face
  font-family: "PWFicelles"
  src: url('../fonts/PWFicelles.ttf')

$font-stack-three: "PWFicelles"

//Color variables
$white: #FFFFFF
$black: #000000
$slategrey: #6B818C

//Theme
$bg-color: #010007
$nav-color: #D64933
$banner-color: #D8DBE2
//
$text-color: #FAF5F0

//
h1
  color: $text-color
  text-align: center
h2
  color: $text-color
  font-size: 2
  font-weight: 500
  line-height: 1.25em
  opacity: .85
h3
  color: $text-color
h4
  font-size: 1.375em
  font-weight: 500
  color: $text-color
  opacity: .85
p, li
  font-size: 1em
  font-weight: 200
  color: $text-color
body
  background-color: $bg-color
