@import url('https://fonts.googleapis.com/css2?family=Qahiri&family=Roboto:wght@100;300;400&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Otomanopee+One&display=swap')

$font-stack: "Otomanopee", Arial, sans-serif
$font-stack-two: "Roboto", Arial, sans-serif

//Color variables
$white: #FFFFFF
$black: #000000
$slategrey: #6B818C

//Theme
$bg-color: #010007
$nav-color: #e58a2e
$banner-color: #779FA1
//
$text-color: #FAF5F0

//
h1
  color: $text-color
  text-align: center
h2
  color: $text-color
  font-size: 2
  font-weight: 500
  line-height: 1.25em
  opacity: .85
h3
  color: $text-color
h4
  font-size: 1.375em
  font-weight: 500
  color: $text-color
  opacity: .85
p, li
  font-size: 1em
  font-weight: 200
  color: $text-color
body
  background-color: $bg-color
