---
layout: default
---

<!-- Portfolio list -->
<h2>Portfolio</h2>
<ul>
  {% for item in site.pages %}
  {% if item.type == 'project' %}
    <li>
      {{ item.title }}
      <a href=""></a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
<!-- Recent Projects -->
<main>
  <!-- Title -->
  <h2 class="recent-projects">Recent Projects</h2>
  <!-- Project container -->
  <div class="recent-projects-container">
    <div class="project-wrap">
      <div class="project project-reverse">
        <!-- Projecct Image -->
        <div class="project-img"></div>
        <!-- Project text -->
        <a href="" target="_blank" class="project-text">
          <h4>Project Title</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rhoncus purus lectus, quis tempor quam gravida ac. Mauris
          luctus massa in arcu vestibulum, ut volutpat velit euismod. Sed lacinia libero nisi, mollis hendrerit metus lobortis
          congue. Nulla fringilla justo id nisl ornare, vel dictum felis dignissim. Vestibulum orci nunc, fringilla sed vehicula
          id, pharetra eu erat.</p>
        </a>
      </div>
    </div>
  </div>

</main>
