.intro-banner {
  background-color: #fdfdfc;
  margin: 0 $spacing-unit;
  border-radius: 2px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

  background-image: 
  linear-gradient(
    to right,
    #ff3b3b 0px,
    #ff3b3b 4px,
    transparent 4px
  ),
  repeating-linear-gradient(
    to bottom,
    #5ba8ff 0px,
    #5ba8ff 2px,
    transparent 2px,
    transparent 30px
  );

  background-size: 100% 100%, 100% 30px;
  background-repeat: no-repeat, repeat;
  background-position: 50px 0, 0 50px;


  .intro-container {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 40px 1rem 0 3rem; // 40px top to align with first blue line, 3rem left to stay inside red line
  }

  .intro-image {
    fill: black;
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: $rounded-corner;
    margin: 0 auto 1.5rem;
  }

  .intro-skills {
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem;
    line-height: 30px; // matches spacing of the blue lines

    .divider {
      color: #aad;
      margin: 0 0.5rem;
    }
  }

  @media (max-width: 600px) {
    .intro-container {
      flex-direction: column;
      align-items: center;
      padding: 40px 1.5rem 0 1.5rem;
    }

    .intro-skills {
      justify-content: center;
      text-align: center;
    }
  }
}


// Portfolio thumbnails

  .thumb-grid {
    padding: 2rem;
    .thumb-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      gap: 1.5rem;
      justify-content: center;
    }
  
    .thumb-card {
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: $text-color;
      border-radius: 4px;
      overflow: hidden;
      transition: transform 0.2s ease;
      padding: 10px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      &:hover {
        transform: scale(1.03);
      }
      img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }
  
      .thumb-title {
        padding: 0.5rem 0;
        font-size: 1rem;
        text-align: center;
        background: $white;
        width: 100%;
      }
    }
  }
  
  