.productions-section {
  .prod-container {
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .production-card {
    background-color: $white;
    border-radius: $rounded-corner;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 100%;
    overflow: hidden;

    &:hover {
      transform: scale(1.02);
    }

    .production-poster {
      height: 100%;
      width: auto;
      object-fit: cover;
      max-width: 100%;
    }

    .production-info {
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        font-size: 1.8rem;
        margin-bottom: 12px;
      }

      p {
        margin: 6px 0;
        font-size: 1rem;
        color: $text-color;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .production-card {
      height: 150px;
      .production-info {
        padding: 10px;
        h2 {
          font-size: 1.2rem; 
        }
        p {
          font-size: 0.8rem; 
        }
      }
    }
  }
}
