.gallery {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    align-items: center;
  }
  
  .gallery-item img {
    max-width: 100%;
    height: auto;
    width: auto;
    border-radius: $rounded-corner;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
  }
  