.banner-container
  display: flex
  flex-flow: column
  height: calc(100% - 94px)
  justify-content: center
  padding: 2em 0
  div
    margin-bottom: 5em
    background-color: rgba($banner-color, 0.6)
    a
      display: flex
      height: 230px
      justify-content: center
      align-items: center
      color: $white
      img
        width: inherit
        height: 200px
        position: absolute
      p
        position: absolute
        display: inline-flex
        font-family: "PWFicelles"
        font-size: 2.5em
  div:last-of-type
    margin-bottom: 0
  div:hover
    background-color: rgba($banner-color, 0.3)
