.banner-container
  display: flex
  flex-flow: column
  height: calc(100% - 94px)
  justify-content: center
  div
    min-height: 230px
    margin-top: 60px
    background-color: rgba($banner-color, 0.6)
  div:last-child
    margin-bottom: 60px
  div:hover
    background-color: rgba($banner-color, 0.3)
.banner-container div a p
  display: flex
  height: 230px
  justify-content: center
  align-items: center
  color: $white
