.portfolio-page-layout
  max-width: 90%
  margin: 0 auto
.page-title-container
  display: flex
.page-content-container
  display: block
.image-container
  display: flex
  flex-wrap: row wrap
  justify-content: center
    img
      width: 100%
      height: auto
