// General page layout
.portfolio-page-layout
  width: 95%
  margin: 0 auto
.page-title-container
  display: flex
//
.page-content-container
  display: block
//
.image-container
  display: flex
  flex-direction: column
  justify-content: center
  .image-side-by-side
    display: flex
    flex-direction: row
  img
    width: 100%
    height: auto
@media screen and (max-width: 1300px)
  .image-container
    .image-side-by-side
      flex-direction: column
.video-container
  display: flex
  justify-content: center
  iframe.page-video
