//
.sketchbook-title
  background-color: $bg-color
.sketchbook-container
  background-color: $bg-color
  display: flex
  flex-flow: wrap
  justify-content: center
  align-items: center
  padding: 30px 0
  a
    max-height: 300px
  img
    transition: 0.3s
    padding: 4px
    border-radius: 8px
    max-height: inherit
    object-fit: cover
  img:hover
    transform: scale(1.03)
    // filter: grayscale(100%)
    filter: opacity(70%)
@media screen and (max-width: 1200px)
  .sketchbook-container
    a
      // width: 250px
      max-height: 250px
@media screen and (max-width: 500px)
  .sketchbook-container
    a
      // width: 150px
      max-height: 150px
// @for $i from 1 through 2
//   .particle-#{$i}
//     $rand-height: random()
//     height: #{$rand-height}em
