// General Page Layout
.page-wrapper {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Page Content
.page-content {
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  padding: $spacing-unit;
  flex: 1;
}
.footer-wrapper{
  padding: 1rem;
}
.content-wrapper, .footer-wrapper {
  margin-left: $nav-width;
}


// Responsive Layout
@media screen and (max-width: $switch-to-tablet) {
  .content-wrapper, .footer-wrapper  {
    margin-left: $nav-width-tab;
  }
}

@media screen and (max-width: $switch-to-mobile), screen and (max-height: 425px) {
  .content-wrapper {
    padding: 0 5px;
    padding-bottom: $spacing-unit;
  }
  .content-wrapper, .footer-wrapper  {
    margin-left: 0;
  }
  .page-content {
    padding: ($nav-mobile-height + $spacing-unit) 0;
  }
}

.showreel-section{
  background-color: white;
  padding: 2px;
  border-radius: $rounded-corner;
  margin-bottom: 2em;
  box-shadow: $shadow;
  .custom-video {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    margin: 10px;
  
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }  
}