// General Page Layout
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Page Content
.page-content {
  z-index: 2;
  padding: $spacing-unit 0 0 0;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1;
}
.footer-wrapper{
  padding: 1rem;
}
.content-wrapper, .footer-wrapper {
  margin-left: $nav-width;
}


// Responsive Layout
@media screen and (max-width: $switch-to-tablet) {
  .content-wrapper, .footer-wrapper  {
    margin-left: $nav-width-tab;
  }
}

@media screen and (max-width: $switch-to-mobile), screen and (max-height: 425px) {
  .content-wrapper, .footer-wrapper  {
    margin-left: 0;
  }
  .page-content {
    padding: ($nav-mobile-height + $spacing-unit) 0;
  }
}

.custom-video {
  position: relative;
  padding-bottom: 56.25%; // 16:9 aspect ratio
  height: 0;
  overflow: hidden;
  width: 100%; // Ensure it scales down to fit the container
  max-width: 1200px; // This can still be used to limit on large screens
  margin: 60px auto;
  border-radius: 16px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.4);

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}

// For smaller devices, adjust margin and ensure scaling
@media screen and (max-width: 768px) {
  .custom-video {
    margin: 40px auto; // Adjust margin for smaller screens
    padding-bottom: 56.25%; // Maintain aspect ratio
  }
}
