// Fit page next to nav
.page-content {
  z-index: 2;
  padding: $spacing-unit 0;
  flex: 1;
}

.wrapper {
  margin-left: $nav-width;
}

/**
 * Page layout flex structure
 */
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
}

// Ensure <main> grows to fill space if needed
.page-content {
  flex: 1;
}

/**
 * Headings and post list
 */
.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/**
 * Responsive layout
 */
@media screen and (max-width: $switch-to-tablet) {
  .wrapper {
    margin-left: $nav-width-tab;
  }
}

@media screen and (max-width: $switch-to-mobile), screen and (max-height: 425px) {
  .wrapper {
    margin-left: 0;
  }

  .page-content {
    padding: ($nav-mobile-height + $spacing-unit) 0;
  } 
}
