.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $black;
  border-radius: $rounded-corner;
  padding: 1rem;
  .footer-logo svg {
    color: white;
    width: 80px;
    height: auto;

    @include media-query($on-laptop) {
      width: 60px;
    }

    @include media-query($on-palm) {
      width: 50px;
    }
  }

  .footer-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: $white;
    margin: 15px 0 25px;

    @include media-query($on-laptop) {
      font-size: 1.3rem;
    }

    @include media-query($on-palm) {
      font-size: 1.1rem;
    }
  }

  .footer-socials {
    .social-media-list {
      margin: 0;
      list-style: none;
      display: flex;
      align-items: baseline;
      gap: 15px;
    }
  }
}
