// Fit page next to nav
.page-content
  z-index: 2
.page-content, .particle-wrapper
  padding-left: $nav-width
@media screen and (max-width: 1100px)
  .page-content, .particle-wrapper
    padding-left: $nav-width-tab
@media screen and (max-width: $switch-to-mobile), screen and (max-height: 425px)
  .page-content, .particle-wrapper
    padding-left: 0
    padding-top: 94px
body
  background-color: $bg-color
