// Removing basic elements
*
  margin: 0px
  padding-left: 0px
  box-sizing: border-box
  transition: none
.nav-header
  display: flex
  align-items: center
  justify-content: space-around
  overflow: hidden
  background-color: #999
  min-height: 8vh

/* WEBSITE LOGO */
a.nav-logo
  display: block
  z-index: 100
  height: 50px
  width: 50px
  background:
    image: url('../img/logostandin.png')
    repeat: no-repeat
/* NAVIGATION BAR */
nav.nav-bar
  display: flex
  align-items: center
  z-index: 100

/* NAVIGATION LIST */
ul.nav-links
  z-index: 1002
  display: flex
  li
    list-style: none
    padding-right: 45px
    a
      color: $primary
      letter-spacing: 3px
    a:hover
      color: darken($white, 70%)
  // Removes padding on last nav link
  li:last-of-type
    padding-right: 0

// Mobile nav icon
.nav-icon-open-wrapper
  z-index: 1005
  display: none
  cursor: pointer
.nav-icon-open-wrapper
  div
    height: 4px
    margin: 5px
    width: 27px
    background-color: $primary
    transition: all 0.3s ease
.toggle .line1
  transform: translate(0px, 9px) rotate(45deg)
.toggle .line2
  opacity: 0
.toggle .line3
  transform: translate(-0px, -9px) rotate(-45deg)

.nav-body-overlay
  transition: opacity 0.2s ease-in-out, transform 0s ease-in-out 0.2s
  display: block
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0,0,0,0.6)
  z-index: 1000
  opacity: 0
  transform: translateX(100%)

// Switch to mobile navigation
@media screen and (max-width: 600px)
  a.nav-logo
    position: absolute
  ul.nav-links
    position: fixed
    top: 0
    right: 0
    height: 100vh
    background: #FFD564
    width: 35%
    display: flex
    flex-direction: column
    align-items: center
    li
      padding-right: 0px
      padding-top: 9vh
    transform: translateX(100%)
  .nav-icon-open-wrapper
    display: block
    position: absolute
    top: 0
    right: 0
    margin: 10px 40px 0 0
  html.nav-active
    body
      overflow: hidden
      position: fixed
      top: 0
      bottom: 0
      left: 0
      right: 0
    .nav-body-overlay
      opacity: 1
      transition: opacity 0.2s ease-in-out, transform 0s
      transform: translateX(0)
    ul.nav-links
      opacity: 1
      transition: all 0.3s ease
      transform: translateX(0)
