// Removing basic elements
*
  margin: 0px
  padding: 0px
  box-sizing: border-box
  transition: none

.nav-body-overlay
  opacity: 0
  position: fixed
  top: 94px
  left: 0
  width: 100vw
  height: 100%
  background-color: rgba(0, 0, 0, 0.5)
  transform: translateX(-200%)
  z-index: 50

// MAIN HEADER
.nav-header
  z-index: 100
  position: fixed
  top: 0
  left: 0
  width: $nav-width
  height: 100%
  background-color: $nav-color
  // transitions
  transition: width 0.1s
  /* WEBSITE LOGO */
  .nav-logo
    z-index: 150
    display: flex
    justify-content: center
    padding: 20px
    margin: 10px
    img
      width: 100px
      height: auto
    img:hover
      animation: rotatelogo 2s infinite ease-in-out
      @keyframes rotatelogo
        to
          transform: rotateY(360deg)
// scroll-hide
.nav-header, .nav-mobile
  -ms-overflow-style: none
  scrollbar-width: none
  overflow-y : auto
  -webkit-overflow-scrolling: touch
// chrome
.nav-header::-webkit-scrollbar, .nav-mobile::-webkit-scrollbar
  display: none

/* NAVIGATION BAR */
.nav-bar
  // z-index: 200
  display: flex
  justify-content: center
.nav-links
  li
    list-style: none
    padding-top: 40px
    a
      line-height: 30px
      color: $text-color
      letter-spacing: 3px
    a:hover
      color: darken($text-color, 20%)
// Mobile nav icon
.nav-icon-open-wrapper
  display: none
  cursor: pointer
.nav-icon-open-wrapper
  div
    height: 4px
    margin: 5px
    width: 27px
    background-color: $text-color
    transition: all 0.3s ease
.toggle .line1
  transform: translate(0px, 9px) rotate(45deg)
.toggle .line2
  opacity: 0
.toggle .line3
  transform: translate(-0px, -9px) rotate(-45deg)

.nav-mobile
  z-index: 100
  // display: none
  background-color: $container-color
  position: fixed
  padding: 10px
  align-items: center
  justify-content: center
  padding-top: 94px
  width: 70vw
  height: 100vh
  transform: translateX(-200%)
  .nav-links
    li
      padding-left: 40px

// Switch to mobile navigation
@media screen and (max-width: 1200px)
  .nav-header
    width: $nav-width-tab
    .nav-logo
      padding: 0px
      margin: 10px
@media screen and (max-width: $switch-to-mobile), screen and (max-height: 425px)
  .profile-container
    display: none
  .nav-header
    transition: none
    overflow-y: hidden
    // Top header
    width: 100%
    height: auto
    justify-content: center
    .nav-logo
      padding-top: 0
  .nav-bar
    display: flex
    margin: auto
    .nav-icon-open-wrapper
      display: block
      position: fixed
      top: 1.5em
      left: 1.5em
    .nav-links.nav-desktop
      display: none

  html.nav-active
    body
      overflow: hidden
      // position: fixed
      // top: 0
      // bottom: 0
      // left: 0
      // right: 0
    .nav-body-overlay
      opacity: 1
      transition: opacity 0.2s ease-in-out, transform 0s
      transform: translateX(0)
    .nav-mobile
      display: block
      transition: opacity 0.2s ease-in, transform 0.3s
      transform: translateX(0)
