//
.project-wrap
  display: flex
  flex-flow: row wrap
  justify-content: center
  margin: 20px 0
//
.pw-thumbnail
  max-width: 250px
  a
    cursor: pointer
    display: flex
    img
      padding: 4px
      transition: all 0.2s ease
      width: 100%
      height: auto
//
.projects-thumbnail
  width: 400px
  height: 200px
  a
    img
      padding: 3px
      width: 100%
      height: 100%
      object-fit: cover
.pw-thumbnail, .projects-thumbnail
  transition: all 0.2s ease-in-out
  a
    img:hover
      opacity: 0.5
    img:hover
      transform: scale(0.9)

@media screen and (max-width: 500px)
  .portfolio-thumbnail, .projects-thumbnail
    max-width: 160px

//
.sketchbook-container
  display: flex
  flex-flow: wrap
  justify-content: center
  img
    margin: 10px
    width: 400px
    height: auto
