<div class="about-body-container">
  <div class="profile-logo">
    <img src="{{ site.baseurl }}/assets/img/Site_logo_v001.png" href="{{ site.baseurl }}/"></img>
  </div>
  <div class="profile-title">
    <h1>{{ site.data.site.name }}</h1>
    <h3>Generalist - 2D/3D Artist</h3>
  </div>
  <div class="about-text-container">
    <h2>Contact</h2>
    <h1>...</h1>
    <h2>Socials</h2>
    <ul>
      <li><a href="https://www.artstation.com/sama/profile" target="_blank" rel="noopener noreferrer">Artstation</a></li>
      <li><a href="https://www.instagram.com/samam4/" target="_blank" rel="noopener noreferrer">Instagram</a></li>
      <li><a href="https://www.linkedin.com/in/oussama-mahieddine-221156152/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
    </ul>
  </div>
  <!-- {% include shaders/cube.html %} -->
</div>
