<!-- Header -->
<header class="nav-header" role="banner">
  <!-- Site Logo -->
  <img src="{{ site.baseurl }}/assets/img/logostandin.png" href="{{ site.baseurl }}/" class="nav-logo"></img>
  <!-- Nav links -->
  <nav class="nav-bar">
    <ul class="nav-links">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
    </ul>
    <!-- Button toggle mobile navigation -->
    <div class="nav-icon-open-wrapper">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
    <!-- Overlay  --->
    <div class="nav-body-overlay"></div>
  </nav>
</header>
<!-- End Navigation -->
