<!-- Header -->
<header class="nav-header" role="banner">
  <!-- Site Logo -->
  <div class="nav-logo">
    <a href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/img/logostandin.png" href="{{ site.baseurl }}/"></img>
    </a>
  </div>

  <!-- Nav links -->
  <nav class="nav-bar">
    <ul class="nav-links">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
        <ul class="dropdown-menu">
          <li><a href="{{ site.baseurl }}/projects"> - Projects</a></li>
          <li><a href="{{ site.baseurl }}/personal-work"> - Personal work</a></li>
          <li><a href="{{ site.baseurl }}/sketchbook"> - Sketchbook</a></li>
        </ul>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
    </ul>
    <div class="nav-body-overlay"></div>
    <div class="nav-icon-open-wrapper">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
  <div class="profile-container">
    <div class="profile-title">
      <h1>{{ site.data.site.name }}</h1>
      <h3>Generalist - 2D/3D Artist</h3>
    </div>
      {% include shaders/cube.html %}
  </div>
</header>
<!-- End Navigation -->
