<!-- projects dropdown -->
<section class="projects-section">
    {% for project in site.data[page.projects_data] %}
      <div class="project-block">
        <div class="project-header" onclick="toggleProject(this)">
          <img class="project-image" src="{{ project.banner }}" alt="{{ project.title }}">
          <h2 class="project-title">{{ project.title }}</h2>
        </div>
        <div class="project-details">
          <div class="project-info">
            <p>{{ project.description }}</p>
            <p><strong>Role:</strong> {{ project.role }}</p>
            <p><strong>Type:</strong> {{ project.type }}</p>
            <p><strong>Year:</strong> {{ project.year }}</p>
          </div>
          <div class="project-gallery">
            {% for image in project.images %}
              <div class="gallery-image" style="background-image: url('{{ image }}');"></div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
  