<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body data-barba="wrapper" class="page-wrapper">
    {%- include nav.html -%}
  
    <div id="barba-container" class="page-inner">
      <main class="page-content" aria-label="Content" data-barba="container" data-barba-namespace="{{ page.layout }}">
        <div class="page-flex">
          <div class="wrapper">
            {{ content }}
          </div>
  
          {%- include footer.html -%}
        </div>
      </main>
    </div>
  
    {% include js-link.html %}
  </body>

</html>
