<!DOCTYPE html>

<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include nav.html %}
    <!-- Particle fx -->
    <div class="particle-wrapper-back">
      {%for item in (1..15) %}
        <div class="particle-back particle-back-{{item}}"></div>
      {% endfor %}
    </div>
    <div class="particle-wrapper">
      {%for item in (1..15) %}
        <div class="particle particle-{{item}}"></div>
      {% endfor %}
    </div>
    <div class="particle-wrapper-front">
      {%for item in (1..4) %}
        <div class="particle-front particle-front-{{item}}"></div>
      {% endfor %}
    </div>

    <!-- Content -->
    <div class="page-content">
      {{ content }}
    </div> -->

    {% include footer.html %}

    {% include js-link.html %}
  </body>
</html>
