---
layout: default
---
<!--Portfolio piece content  -->
<main class="portfolio-page-layout">
  <div class="page-title-container">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="page-content-container">
    {{ content }}
  </div>


<hr>
  <!-- Portfolio piece list -->
  <div class="project-thumbnail-cointainer">
    <div class="project-wrap">
      {% assign portfolio = site.portfolio | sort: 'order' %}
      {% for piece in portfolio %}
        <!-- Project thumbnails -->
        <div class="portfolio-thumbnail">
          <a href="{{ piece.url }}" class="btn-project-open" data-modal-target="#project-modal_{{ piece.order }}">
            <img src="{{ piece.thumbnail_url }}" alt="{{ piece.title }}">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</main>
